/* import mixin primero */
/* MIXIN */
/* -------------------- */
/* VARIABLES*/
/* Background colors */
/* Text colors */
/*--------------- HEADER ---------------*/
.navbar {
  background-image: linear-gradient(to left, rgb(9, 66, 9), rgb(23, 105, 7));
  padding: 10px 20px;
}

.navbar-brand {
  color: rgb(240, 173, 5);
}

.navbar-brand:hover {
  color: rgb(240, 173, 5);
}

.navbar-collapse {
  flex-grow: 0;
  background-color: rgb(34, 155, 10);
}
.navbar-collapse a {
  color: cornsilk;
}
.navbar-collapse a:hover {
  color: rgb(240, 173, 5);
}
.navbar-collapse li:hover {
  background-color: rgb(23, 105, 7);
}

.dropdown-menu {
  background-color: rgb(34, 155, 10);
}
.dropdown-menu a:hover {
  color: rgb(240, 173, 5);
  background-color: rgb(23, 105, 7);
}

.nav-link.hereNow {
  color: rgb(240, 173, 5);
  background-color: rgb(23, 105, 7);
}

/*--------------- MAIN ---------------*/
.category-animation:hover {
  border-radius: 40px;
}

main {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(178, 243, 229, 0.767);
}
main section {
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px 30px 10px;
}
main section h2 {
  background-image: linear-gradient(to right, rgba(34, 155, 10, 0.411), rgba(255, 255, 255, 0));
  color: rgb(9, 66, 9);
  margin-bottom: 10px;
  padding: 5px;
}
main section h3 {
  color: rgb(63, 51, 3);
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.button a {
  color: white;
  background-color: rgb(9, 66, 9);
  padding: 10px;
  border-radius: 15px;
}
.button a:hover {
  color: white;
  background-color: rgb(23, 105, 7);
  padding: 10px;
  border-radius: 15px;
}

/*--------------- Index ---------------*/
.card img {
  width: 128px;
  height: 128px;
}

.carousel-inner img {
  width: 256px;
  height: 256px;
}

.category-1 {
  background-color: transparent;
}

.category-2 {
  background-color: transparent;
}

.category-3 {
  background-color: transparent;
}

.category-4 {
  background-color: transparent;
}

.category-1:hover {
  background-color: rgba(54, 180, 28, 0.514);
}
.category-1:hover img {
  transform: scale(1.2, 1.2);
}

.category-2:hover {
  background-color: rgba(223, 175, 44, 0.514);
}
.category-2:hover img {
  transform: scale(1.2, 1.2);
}

.category-3:hover {
  background-color: rgba(23, 142, 211, 0.514);
}
.category-3:hover img {
  transform: scale(1.2, 1.2);
}

.category-4:hover {
  background-color: rgba(199, 31, 31, 0.514);
}
.category-4:hover img {
  transform: scale(1.2, 1.2);
}

/*--------------- Productos ---------------*/
.agricultura .bg-producto {
  background-color: rgba(54, 180, 28, 0.514);
}

.granja .bg-producto {
  background-color: rgba(223, 175, 44, 0.514);
}

.pesca .bg-producto {
  background-color: rgba(23, 142, 211, 0.514);
}

.mineria .bg-producto {
  background-color: rgba(199, 31, 31, 0.514);
}

/*--------------- Recetas ---------------*/
.bg-recetas {
  background-color: rgba(26, 189, 153, 0.411);
}

/*--------------- Nosotros ---------------*/
.bg-nosotros {
  background-color: rgba(26, 189, 153, 0.411);
  flex-direction: column;
}

.pueblo {
  width: 80%;
}

/*--------------- Contacto ---------------*/
form {
  background-color: rgba(26, 189, 153, 0.411);
  padding: 20px;
  border-radius: 5px;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid rgb(9, 66, 9);
  border-radius: 5px;
  font-size: 1rem;
}

/*--------------- FOOTER ---------------*/
.bg-footer {
  background-color: rgba(34, 155, 10, 0.678);
}

/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
}

body {
  background-image: url(../image/bgElValle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */