/*--------------- Index ---------------*/
.card{
    img{
        @include size-square (128px);
    }
} 
.carousel-inner{
    img{
        @include size-square (2*128px);
    }
}

@for $i from 1 through 4 {
    .category-#{$i}{
        background-color:transparent
    }
}

.category-1:hover{
    background-color: $category-1;
    img{
        transform: scale(1.2,1.2);
    }
}
.category-2:hover{
    background-color: $category-2;
    img{
        transform: scale(1.2,1.2);
    }
}
.category-3:hover{
    background-color: $category-3;
    img{
        transform: scale(1.2,1.2);
    }
}
.category-4:hover{
    background-color: $category-4;
    img{
        transform: scale(1.2,1.2);
    }
}


/*--------------- Productos ---------------*/
.agricultura{
    .bg-producto{
        background-color: $category-1;
    }    
}
.granja{
    .bg-producto{
        background-color: $category-2;
    }
}
.pesca{
    .bg-producto{
        background-color: $category-3;
    }
}
.mineria{
    .bg-producto{
        background-color: $category-4;
    }
}

/*--------------- Recetas ---------------*/
.bg-recetas{
    background-color: $bg-info-color;
}


/*--------------- Nosotros ---------------*/
.bg-nosotros{
    background-color: $bg-info-color;
    flex-direction: column;
}
.pueblo{
    width: 80%;
}

/*--------------- Contacto ---------------*/
form{
    background-color: $bg-info-color;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid $bg-dark-primary-color;
    border-radius: 5px;
    font-size: 1rem;
}