/* VARIABLES*/


/* Background colors */
$bg-dark-primary-color: rgb(9, 66, 9);
$bg-dark-secondary-color: rgb(23, 105, 7);
$bg-nav-color: rgb(34, 155, 10);
$bg-primary-color: rgba(178, 243, 229, 0.767);
$bg-secondary-color: rgba(34, 155, 10, 0.411);
$bg-info-color: rgba(26, 189, 153, 0.411);
$bg-footer-color: rgba(34, 155, 10, 0.678);

$category-1: rgba(54, 180, 28, 0.514),;
$category-2: rgba(223, 175, 44, 0.514);
$category-3: rgba(23, 142, 211, 0.514);
$category-4: rgba(199, 31, 31, 0.514);

$categorys: $category-1, $category-2, $category-3, $category-4;



/* Text colors */
$text-header-color: rgb(240, 173, 5);
$text-nav-color: cornsilk;
$text-dark-primary-color: rgb(9, 66, 9);
$text-dark-secondary-color: rgb(63, 51, 3);
$text-btn-color: white;

